.floor {
    width: 50px;
    height: 50px;
    /* border: 2px solid black; */
    background-size: cover;
}

.floor--garden {
    background-image: url('../garden_floor.png');
    /* border-color: aqua; */
}

.floor--race {
    background-image: url('../race_floor.png');
}

.floor--goal {
    background-image: url('../garden_goal.png');
}
